body {
    background-image: url("https://4kwallpapers.com/images/wallpapers/fc-bayern-munich-5120x2880-14113.png");
    background-color:rgb(220, 5, 45);
    background-size: auto;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px
}

.quizbody {
  background-size: 200%;
}

.quizscreen {
  background: rgb(220, 5, 45);
  width: 50%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-width: 10px;
  border-color: black;
  border-style: solid dashed;
}

.quizscreen h1 {
  font-size: 200%;
}

.quiz h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1;
  margin-left: 1;
  font-size: 150%;
  font-weight: 900;
}

.quizquestion {
  background: rgb(220, 5, 45);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
}

.answer-buttons {
  background: #2d52f6;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  display: block;
  border-radius: 20px;
}

.buttons {
  background: white;
  color: black;
  font-weight: 800;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.buttons:hover:not([disabled]) {
  background: black;
  color: white;

}

.buttons:disabled{
  cursor: no-drop;

}

#nextbutton {
  background: green;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}

#nextbutton:hover{
  background: white;
  color: black;
}

#submitbutton{
  background: green;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  align: right;
}

#submitbutton:hover{
  background: black;
  color: white;
}

#go-to-button{
  background: black;
  color: white;
  font-weight: 800;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  align: right;
}

#go-to-button:hover{
  background: white;
  color: black;
}


.correct{
  background: green;
}

.incorrect{
  background: red;
}

.contact-form-header{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: black;
  margin-right: 1;
  margin-left: 1;
  text-align: center;
}

.contact-form-space{
  background-color: rgb(220, 5, 45);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-width: 10px;
  border-color: black;
  border-style: dashed;
  text-align: center;
}

.contact-data-name{
  width: 50%;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
}

.contact-data-mail{
  width: 80%;
  border-radius: 15px;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.contact-message{
  width: 80%;
  height: 120px;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  resize: none;
}


.information {
  background-color: rgb(220, 5, 45);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-width: 10px;
  border-color: black;
  border-style: solid dashed;
}
.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
img {
  display: flex;
  margin: auto;
}

h1 {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 1;
      margin-left: 1;
      font-size: 180%;
      font-weight: 900;
}
.information h2 {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      margin-right: 1;
      margin-left: 1;
      text-shadow: 2px 2px 2px rgb(148, 0, 27);

}
hr {
  height: 10px;
  background-color: black;
  border: 0px solid black;
}
p {
      font-family: Helvetica;
      color: white;
      text-shadow: 2px 2px 2px rgb(148, 0, 27);
}
a {
  color: white;
  text-shadow: 2px 2px 2px rgb(148, 0, 27)
}

a:visited {
  color: white;
  text-shadow: 2px 2px 2px rgb(148, 0, 27)
}

a:hover {
  color: orange;
  text-shadow: 2px 2px 2px rgb(148, 0, 27)
}

a:active {
  color: purple;
  text-shadow: 2px 2px 2px rgb(148, 0, 27)
}
h1, h2, p {
  text-align: center;
}


.pleft{
      font-family: Helvetica;
      color: white;
      text-shadow: 2px 2px 2px rgb(148, 0, 27);
      text-align: left;
}